
.login{
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 10rem);
    width: 100%;
    max-width: 500px;
    padding: 5rem 0 5rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginOOCon{
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
}

.loginTitle{
    margin: 0.5rem;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.loginTitle{
    box-shadow: rgba(9, 30, 66, 0.3) 0px 1px 1px, rgba(9, 30, 66, 0.1) 0px 0px 1px 1px;
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #fdfbfb73 0%, #ebedee58 100%);
}

.loginSubTitle{
    margin: 0;
    font-weight: 500;
}

.loginLabel{
    margin: 0.5rem 0 0 0;
}

.loginButton{
    font-weight: 700;
}

.loginTSmall{
    font-size: 16px;
    font-style: oblique;
}


.loginOO{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.loginOOSub{
    margin-bottom: 1rem;
    font-style: italic;
}

.medsosCon{
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.75rem 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.231);
}

.loginIcon{
    margin: 0 0.5rem;
}

.loginIconTab{
    margin: 0 0.5rem;
    color: rgb(43, 78, 254);
}

.medsosCon:nth-of-type(4) .loginIconTab {
    color: black; /* Change the color of the Apple logo */
}

.loginOr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0; /* Add spacing above and below */
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.loginOr::before,
.loginOr::after {
    content: ""; /* Empty content for the lines */
    flex: 1; /* Take up available space */
    height: 1px; /* Line thickness */
    background-color: lightgray; /* Line color */
    margin: 0 1rem; /* Spacing between the line and the text */
}

.loginWEmail{
    background-color: black;
    width: 80%;
    padding: 1rem 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.loginIns{
    margin: 1rem 0;
}

.signupIcon{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: -1.5rem;
    margin-top: 1rem;
}

.signup{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.signupMessage{
    text-align: center;
}

.signupIn{
    padding: 1rem;
    font-size: 16px;
    margin: 0.5rem 0;
    border: 1px solid black;
    border-radius: 5px;
}

.signupIn:focus{
    outline: none;
}

.signupTitle{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0rem;
}

.signupButton{
    background-color: black;
    color: white;
    padding: 1rem 0;
    border-radius: 5px;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 500;
}

