
.topMenu{
    display: flex;
    padding: 2.5rem 0 1rem 0;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100% ;
    max-width: 500px;
    justify-content: space-around;
    top: 0%;
    border-radius: 0 0 0 30px;
    box-shadow: rgba(50, 65, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
    /* background: linear-gradient(to right, rgba(236, 233, 230, 0.3), rgba(255, 255, 255, 0.3)); */
}

.iconRound{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: 1.7rem;
    width: 1.7rem;
}