.banner {
    display: flex;
    width: calc(100% - 1.5rem);
    background: #8dd9ae;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    min-height: 10rem;
    padding: 1rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-style: italic;
    padding-left: 0.5rem;
}

.bannerRight {
    background-image: url('../../Assets/homechefs.png');
    background-size: cover;
    display: flex;
    flex: 1;
}

.freeReg {
    margin-top: 7.5px;
    color: red;
}

.bannerButton {
    background-color: black;
    color: white;
    padding: 0.35rem 0;
    border-radius: 2.5px;
    margin-top: 15px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}