.topMenu {
    display: flex;
    padding: 2.5rem 0 .75rem 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    top: 0%;
    border-radius: 0 0 0 30px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
    background: #f5f5f5;
}


.iconRound {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
}
