
.modal{
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0%;
    border-radius: 40px 40px 0 0;
    max-width: 500px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    padding-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.modalContent{
  height: 80vh;
  position: absolute;
  border-radius: 20px;
  bottom: 0%;
  padding-top: 1rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.modalDragHandle {
  width: 40px; /* Width of the handle */
  height: 4px; /* Thickness of the handle */
  background-color: rgb(145, 140, 140); /* Color of the handle */
  border-radius: 2px; /* Rounded edges */
  margin: 0 auto 1rem auto; /* Center the handle and add spacing below */
}