
.segments{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.5rem;
    min-height: calc(100vh - 2.5rem);
}

.segmentsTitle{
    display: flex;
}

.segmentsBlock{
    display: flex;
    flex: 1;
}

.segmentsBlock:nth-child(1),
.segmentsBlock:nth-child(2)
{
    display: flex;
    align-items: center;
}

.segmentsBlock:nth-child(2){
    font-weight: 500;
    font-size: 17px;
    justify-content: center;
    flex:2;
}

.segmentsOops{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.segmentsOopsTitle{
    font-weight: 600;
    margin: 0;
}

.segmentsOopsSubtitle{
    margin: 0%;
    max-width: 70%;
    text-align: center;
    font-weight: 300;
}

.oopsBack{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-size: 15px;
    font-weight: 500;
}

.segmentsArrowBack{
    width: 3rem;
}
