/* ────────── CONTAINER ────────── */
.search {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2.5rem);
}

/* ────────── HEADER ────────── */
.searchHeader {
    display: flex;
    align-items: center;
}

.searchHeaderBlock {
    flex: 1;
    display: flex;
    align-items: center;
}

.searchHeaderBlock.center {
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

.searchArrowBack {
    width: 3rem;
}

.searchTitle {
    font-weight: 500;
    font-weight: 17px;
}

/* ────────── SEARCH FIELD ────────── */
.searchBox {
    display: flex;
    margin-top: 0.5rem;
    width: 100%;
}

.searchIn {
    width: 100%;
    margin: 1rem;
    font-size: 16px;
    padding: 0.8rem 0 0.8rem 2rem;
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 10px;
}

.searchIn:focus {
    outline: none;
}

.searchIn::placeholder {
    color: rgb(41, 41, 41);
}

/* Search Icon */
.searchI {
    position: absolute;
    margin-top: 1.85rem;
    margin-left: 1.4rem;
}
