
.layoutOne{
    display: flex;
    flex-direction: column;
    padding: 7.5rem 1rem 0.5rem 1rem;
}

.loHeaderWord{
    font-size: 130%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-left: 0.5rem;
}

.openOrder{
    font-weight: 700;
    margin: 0 8px;
}


.locRails{
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
    display: flex;
    align-items: end;
    flex-grow: 1;
    padding-left: 0.5rem;

}


.loCarousel {
    display: flex; /* Arrange items in a row */
    flex-direction: row; /* Ensure horizontal alignment */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    gap: 1rem; /* Add spacing between items */
    padding: 1rem 0; /* Optional: Add padding for better spacing */
}

.loCarousel::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.locList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    flex: 0 0 auto; /* Prevent items from shrinking */
    text-align: center; /* Center align text and icons */
    width: 80px; /* Set a fixed width for each item */
    border: 0.75px solid rgba(174, 174, 174, 0.5);
    border-radius: 5px;
    padding: 0.5rem 0.2rem;
    background-image: linear-gradient(120deg, hsla(0, 33%, 99%, 0.5) 0%, hsla(200, 8%, 93%, 0.7) 100%);
}


.locListIcon{
    width: 40px;
    height: auto;
    object-fit: contain;
}

.locListName{
    text-align: center;
    max-width: 70%;
}

