
.App{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: white;
  font-size: 15px;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}



.input:focus{
  outline: none;
}
