.App {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: white;
  font-size: 15px;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #f5f5f5;
  position: relative;
}


.App::-webkit-scrollbar {
  width: 0;
  height: 0;
}



.input:focus {
  outline: none;
}