
.home {
    overflow-y: auto;
    height: 100vh;
}

.vendorList{
    margin: 2rem 0 -2rem 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.vendor{
    margin-right: 5px;
}
/* 
.loc{
    margin: 0 5px;
    color: rgb(201, 6, 6);
    font-weight: 600;
} */