@viewport {
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
  user-zoom: fixed;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
    :root {
        font-size: 15px;
    }
}

html {
    -webkit-text-size-adjust: 100%; /* Disable text scaling in Safari and Chrome */
    -ms-text-size-adjust: 100%; /* Disable text scaling in Internet Explorer */
    text-size-adjust: 100%; /* Disable text scaling in modern browsers */
      -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    touch-action: manipulation;
    height: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c3d4cb;
  background-color: rgba(128, 128, 128, 0.01);
  min-height: -webkit-fill-available;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

